RewriteEngine On

# Redirect index.php to the root domain
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^index\.php$ / [R=301,L]

# SEO-friendly tags URL
RewriteRule ^tags/([^/]+)$ tags.php?tag=$1 [L,QSA]

Redirect 301 /resume.html /resume.php
Redirect 301 /resume /resume.php

RewriteRule ^services$ /services.php [L]
